.nav-image {
  margin-top: 5px;
  width: 50px;
  height: 50px;
}
.font-logo {
  font-family: "Archivo Black";
  letter-spacing: -2px;
  font-size: 18px;
  color: #202020;
}
.subheader-text{
  font-family: 'Alata', sans-serif;
}
