<mz-navbar [navbarClass]="'white'">
  <div class="container">
    <img src="../../assets/logo-lampada.svg" alt="Main Solutions Image" class="hide-on-med-and-down nav-image">
    <a href="#" class="brand-logo font-logo">MAIN SOLUTIONS</a>
    <mz-navbar-item-container [align]="'right'" class="hide-on-med-and-down">
      <mz-navbar-item><a href="#" class="black-text">Serviços</a></mz-navbar-item>
      <mz-navbar-item><a href="#" class="black-text">Contatos</a></mz-navbar-item>

    </mz-navbar-item-container>
    <button mz-button [float]="true" id="btn-sidenav-demo" class="hide-on-large-only btn-floating grey grey darken-4">
      <i mz-icon [align]="'right'" [icon]="'menu'" [size]="'medium'">
      </i>
    </button>
  </div>
</mz-navbar>



<mz-sidenav [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'">
  <mz-sidenav-header>
    <div class="center font-logo">
      <h5>MAIN SOLUTIONS</h5>
    </div>
  </mz-sidenav-header>


  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-sidenav-link>
    <a href=" #" class="waves-effect">Serviços</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link [active]="false">
    <a href="#" class="waves-effect">Contatos</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>


</mz-sidenav>
