
.idea-image{
  margin-top: 20%;
  height:400px ;
  width: auto;
}
.message-text{
  margin-top: 15%;
}
.discovery-icon{
  margin-top: 3%;
}
strong{
  color:#FFB72F;
}
.services-section{

  background-color: #111111;
}
.services-section-title{
  color:#FFB72F;
}

.grid-services{
  margin-top: 5%;
  margin-bottom: 3%;
}


p{
  color: #efefef;
  padding: 10%;
  cursor: default;
}
.glow:hover{
  color: rgba(235, 255, 52, 0.938)!important;
  cursor: default;
  text-shadow: 0px 0px 60px rgba(235, 255, 52, 0.938);
}
.display-section{
background-color: rgba(238, 253, 105, 0.938)!important;;
}

.text-message-display{
  margin-top: 18%;
  text-align: center;
}
.img-display{
  margin-top: 5%;
  height: 600px;
  width: auto;
}
.down-icon{
  animation-duration: 2s;
}
.ms-img{

  width: 100%;
  height: auto;

}
.contact-section{
  background-color: #111;
}

button{
  border-radius: 20px 20px 20px 20px;
  background-color:#FFB72F;
  color:#262626;
}
button:hover{
  background-color:rgb(233, 201, 142);
}

h4{
  color:#FFB72F;
}
hr{
  width: 30%;
  margin-top: 5em;
}

.social-icons{
  margin: 5em!important;
}
.footer-copyright{
display: flex;
flex-direction: row;
height: 40px;
background-color:#707070;
}
.h6-foot{
  margin-top: 9px;
  color: rgb(255, 200, 98);
}
