<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="col l6 m12 s12  hide-on-med-and-down">
        <img class="idea-image" src="../../assets/undraw_new_ideas_jdea.svg"
          alt="Ilustração de uma menina com um desenho de uma lâmpada">
      </div>
      <div class="col l6 m12 s12 center message-text">
        <h3>Podemos <strong>ajudar sua empresa</strong> <br> com alguns serviços!</h3>
      </div>
    </div>
  </div>
</div>

<div class="col s12 center container discovery-icon ">
  <i mz-icon [align]="'center'" [icon]="'keyboard_arrow_down'" [size]="'large'" [class]="'animated infinite bounce delay-0s down-icon'">
  </i>
</div>
<div class="section services-section">
  <div class="container">
    <div class="row">
      <div class="col s12 center grid-services">
        <div class="center services-section-title">
          <h4>Quais tipos de serviços oferecemos</h4>
        </div>
        <div class="grid-services text-services">
          <div class="col l3 m6 s12">
            <a href="#"> <i class="glow white-text test" mz-icon [align]="'center'" [icon]="'keyboard_arrow_down'"
                [size]="'large'">
              </i></a>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="col l3 m6 s12">
            <a href="#"> <i class="glow white-text test" mz-icon [align]="'center'" [icon]="'keyboard_arrow_down'"
                [size]="'large'">
              </i></a>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="col l3 m6 s12">
            <a href="#"> <i class="glow white-text test" mz-icon [align]="'center'" [icon]="'keyboard_arrow_down'"
                [size]="'large'">
              </i></a>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="col l3 m6 s12">
            <a href="#"> <i class="glow white-text test" mz-icon [align]="'center'" [icon]="'keyboard_arrow_down'"
                [size]="'large'">
              </i></a>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="col l3 m6 s12">
            <a href="#"> <i class="glow white-text test" mz-icon [align]="'center'" [icon]="'keyboard_arrow_down'"
                [size]="'large'">
              </i></a>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="col l3 m6 s12">
            <a href="#"> <i class="glow white-text test" mz-icon [align]="'center'" [icon]="'keyboard_arrow_down'"
                [size]="'large'">
              </i></a>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="col l3 m6 s12">
            <a href="#"> <i class="glow white-text test" mz-icon [align]="'center'" [icon]="'keyboard_arrow_down'"
                [size]="'large'">
              </i></a>
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div class="col l3 m6 s12">
            <a href="#"> <i class="glow white-text test" mz-icon [align]="'center'" [icon]="'keyboard_arrow_down'"
                [size]="'large'">
              </i></a>
            <p>Lorem ipsum dolor sit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section display-section">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="col s12 m12 l6 text-message-display">
            <h2>Seu sistema em qualquer dispositivo</h2>
          </div>
          <div class="col s12 m12 l6 center hide-on-med-and-down">
            <img class="img-display" src="../../assets/undraw_web_devices_ad58.svg"
              alt="Ilustração de uma menina sentada com dispositivos de diferentes tamanhos à sua frente">
          </div>
        </div>
      </div>
    </div>
  </div>
