<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="col l6 m12 s12  hide-on-med-and-down">
        <img class="idea-image responsive-img" src="../../assets/undraw_new_ideas_jdea.svg"
          alt="Ilustração de uma menina com um desenho de uma lâmpada">
      </div>
      <div class="col l6 m12 s12 center message-text">
        <h3>Podemos <strong>ajudar sua empresa</strong> <br> com alguns serviços!</h3>
      </div>
    </div>
  </div>
</div>

<div class="col s12 center container discovery-icon ">
  <i mz-icon [align]="'center'" [icon]="'keyboard_arrow_down'" [size]="'large'"
    [class]="'animated infinite bounce delay-0s down-icon'">
  </i>
</div>
<div class="section services-section">
  <div class="container">
    <div class="row">
      <div class="col s12 center grid-services">
        <div class="center services-section-title">
          <h4>Quais tipos de serviços oferecemos</h4>
        </div>
        <div class="grid-services text-services">

          <div class="col l3 m6 s12">
            <a href="#" class="glow"><i class="fas fa-pen-nib medium white-text"></i></a>
            <p>Redesign de sistemas.</p>
          </div>
          <div class="col l3 m6 s12">
            <a href="#" class="glow"><i class="far fa-eye medium white-text"></i></a>
            <p>Identidade visual.</p>
          </div>
          <div class="col l3 m6 s12">
            <a href="#" class="glow"><i class="far fa-credit-card medium white-text"></i></a>
            <p>Cartões de visitas.</p>
          </div>
          <div class="col l3 m6 s12">
            <a href="#" class="glow"><i class="fas fa-wifi medium white-text"></i></a>
            <p>Configuração de roteadores.</p>
          </div>
          <div class="col l3 m6 s12">
            <a href="#" class="glow"><i class="fas fa-icons medium white-text"></i></a>
            <p>Banners para mídias sociais.</p>
          </div>
          <div class="col l3 m6 s12">
            <a href="#" class="glow"><i class="fas fa-project-diagram medium white-text"></i></a>
            <p>Criação de sistemas completos.</p>
          </div>
          <div class="col l3 m6 s12">
            <a href="#" class="glow"><i class="fas fa-code medium white-text"></i></a>
            <p>Criação de sites.</p>
          </div>
          <div class="col l3 m6 s12">
            <a href="#" class="glow"><i class="fas fa-desktop medium white-text"></i></a>
            <p>Manutenção de computadores.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="section display-section">

  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="col s12 m12 l6 text-message-display ">
          <h2 class="animated infinite pulse delay-0s">Seu sistema em qualquer dispositivo</h2>
        </div>
        <div class="col s12 m12 l6 hide-on-med-and-down">
          <img class="img-display responsive-img" src="../../assets/undraw_web_devices_ad58.svg"
            alt="Ilustração de uma menina sentada com dispositivos de diferentes tamanhos à sua frente">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section logo-section">
  <div class="container">
    <div class="row">

      <div class="col s12 m12 l12 center">
        <div class="">
          <img class="ms-img responsive-img" src="../../assets/ms.png" alt="Logo Main solutions">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section contact-section">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="col s12 m12 l12 center">
          <h4>Entre em contato conosco!</h4>
        </div>
        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'face'">
            </i>
            <input mz-input [label]="'Nome'" [validate]="false" id="name-input" length="150" type="text">
          </mz-input-container>
        </div>

        <div class="col s12 m6 l6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix [icon]="'email'">
            </i>
            <input mz-input [label]="'Email'" [validate]="true" [dataError]="'Email is invalid'"
              [dataSuccess]="'Email is valid'" id="email-input" length="150" type="email">
          </mz-input-container>
        </div>

        <div class="col s12 m12 l12">
          <mz-textarea-container>
            <i mz-icon-mdi mz-textarea-prefix [icon]="'message-reply-text'">
            </i>
            <textarea mz-textarea [label]="'Escreva sua mensagem aqui'" id="comment-textarea" length="150"></textarea>
          </mz-textarea-container>
        </div>
        <div class="col s12 m12 l12 center ">
          <button mz-button>
            Enviar
          </button>
        </div>
      </div>
    </div>

    <hr>

<div class="row center social-icons">
  <div class="col s12">
    <div class="col s3">
      <a href="#" class="glow"><i class="fab fa-facebook-square small white-text"></i></a>
    </div>
    <div class="col s3">
      <a href="#" class="glow"><i class="fab fa-instagram small white-text"></i></a>
    </div>
    <div class="col s3">
      <a href="#" class="glow"><i class="fab fa-linkedin small white-text"></i></a>
    </div>
    <div class="col s3">
      <a href="#" class="glow"><i class="fab fa-twitter-square small white-text"></i></a>
    </div>
  </div>
</div>


  </div>

</div>

<footer>
  <div class="footer-copyright">
    <div class="container center h6-foot">
    © 2020 Main Solutions
    </div>
  </div>
</footer>

